[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
gitpython = "*"
python-gitlab = "*"
pygithub = "*"

[dev-packages]
pipenv-to-requirements = "*"

[scripts]
pin = "pipenv_to_requirements -fo requirements.txt"
